<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/main"><i class="menu-icon fa fa-laptop"></i>XX驾校管理员端</a>
                </li>
                <li class="menu-title">驾校管理</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-bar-chart"></i>数据统计</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-line-chart"></i><a href="ui-tabs.html">报名统计</a></li>
                        <li><i class="fa fa-line-chart"></i><a href="ui-tabs.html">科目一统计</a></li>
                        <li><i class="fa fa-line-chart"></i><a href="ui-tabs.html">科目二统计</a></li>
                        <li><i class="fa fa-line-chart"></i><a href="ui-tabs.html">科目三统计</a></li>
                        <li><i class="fa fa-line-chart"></i><a href="ui-tabs.html">科目四统计</a></li>
                        <li><i class="fa fa-line-chart"></i><a href="ui-tabs.html">毕业统计</a></li>
                        <li><i class="fa fa-line-chart"></i><a href="ui-tabs.html">收入统计</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-table"></i>学员管理</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="/applyExamine">报名审批</a></li>
                        <li><i class="fa fa-table"></i><a href="/absentee">在籍学员</a></li>
                        <li><i class="fa fa-table"></i><a href="/graduate">毕业学员</a></li>
                        <li><i class="fa fa-table"></i><a href="/blacklist">黑名单</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-th"></i>考试管理</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-th"></i><a href="/addExam">添加考试</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="/deleteExam">删除考试</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="/loggingData">成绩录入</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="/addExercise">添加练车</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="/deleteExercise">删除练车</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-tasks"></i>题库管理</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">添加试题</a></li>
                        <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">修改试题</a></li>
                        <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">删除试题</a></li>
                    </ul>
                </li>

                <li class="menu-title">其他管理</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-glass"></i>管理员信息</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">添加管理员</a></li>
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">删除管理员</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" ><img src="images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" ><img src="images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">

                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                        <a class="nav-link" href="#" onclick="loginOut()"><i class="fa fa-power -off" ></i>Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div class="content">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong> Elements
                </div>
                <div class="card-body card-block">
                    <div class="form-horizontal">

                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Static</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">Username</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="type" class=" form-control-label">练车类型</label></div>
                            <div class="col-12 col-md-9">
                                <select name="selectSm" id="type" class="form-control-sm form-control">
                                    <option value="0">科目二</option>
                                    <option value="1">科目三</option>
                                </select>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">练车起始日期</label></div>
                            <div class="col-12 col-md-9">
                                <select id="startYear" class="sel_year" name="YYYY">
                                    <option value="">请选择</option>
                                </select>
                                <font>年</font>
                                <select id="startMonth" class="sel_month" name="MM">
                                    <option value="">请选择</option>
                                </select>
                                <font>月</font>
                                <select id="startDay" class="sel_day" name="DD">
                                    <option value="">请选择</option>
                                </select>
                                <font>日</font>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">练车结束日期</label></div>
                            <div class="col-12 col-md-9">
                                <select id="overYear" class="sel_year" name="YYYY">
                                    <option value="">请选择</option>
                                </select>
                                <font>年</font>
                                <select id="overMonth" class="sel_month" name="MM">
                                    <option value="">请选择</option>
                                </select>
                                <font>月</font>
                                <select id="overDay" class="sel_day" name="DD">
                                    <option value="">请选择</option>
                                </select>
                                <font>日</font>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">练车时间</label></div>
                            <div class="col-12 col-md-9"> <input id ="time" type="time" value="00:00"/></div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="duration" class=" form-control-label">时长（分钟）</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="duration" name="text-input" placeholder="180" class="form-control"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="max" class=" form-control-label">最大人数</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="max" name="text-input" placeholder="10" class="form-control"><small class="form-text text-muted">The largest number of people</small></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="address" class=" form-control-label">地址</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="address" name="text-input" placeholder="吉林省吉林市龙潭区xx驾校xx楼xx室" class="form-control"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="remark" class=" form-control-label">备注</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="remark" name="text-input" placeholder="" class="form-control"></div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success" onclick="addExam()">立即报名</button>
                </div>
            </div>

        </div>
    </div><!-- .content -->


    <div class="clearfix"></div>

    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2018 Ela Admin
                </div>
                <div class="col-sm-6 text-right">
                    More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                </div>
            </div>
        </div>
    </footer>

</div><!-- /#right-panel -->

<!-- Right Panel -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="assets/js/main.js"></script>


<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/jszip.min.js"></script>
<script src="assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="assets/js/init/datatables-init.js"></script>

<script src="assets/js/birthday.js"></script>
<script src="assets/js/jquery.time.js"></script>
<script type="text/javascript">
    function addExam() {
        var exam_type = $("#type option:selected").text();//选中的文本
        var max = document.getElementById("max").value;
        var address = document.getElementById("address").value;
        var remark = document.getElementById("remark").value;
        var time = document.getElementById("time").value;
        var startYear = $("#startYear option:selected").text();//选中的文本
        var startMonth = $("#startMonth option:selected").text();//选中的文本
        var startDay = $("#startDay option:selected").text();//选中的文本
        var overYear = $("#overYear option:selected").text();//选中的文本
        var overMonth = $("#overMonth option:selected").text();//选中的文本
        var overDay = $("#overDay option:selected").text();//选中的文本
        var duration = document.getElementById("duration").value;

        if (startYear == "--"){
            alert("请选择日期年份");
            return;
        }
        if (startMonth == "--"){
            alert("请选择日期月份");
            return;
        }
        if (startDay == "--"){
            alert("请选择日期");
            return;
        }
        if (overYear == "--"){
            alert("请选择日期年份");
            return;
        }
        if (overMonth == "--"){
            alert("请选择日期月份");
            return;
        }
        if (overDay == "--"){
            alert("请选择日期");
            return;
        }
        if (duration == ""){
            alert("请输入最大人员数量");
            return;
        }else {
            if(isNaN(duration)) {
                alert("练习时长为数字");
                return;
            }
        }

        if (max == ""){
            alert("请输入最大人员数量");
            return;
        }else {
            if(isNaN(max)) {
                alert("最大人员数量为数字");
                return;
            }
        }
        if (address == ""){
            alert("请输入地址");
            return;
        }
        if (remark == null)
            remark = "";

        if (time == null || time == ''){
            alert("请选择时间");
            return;
        }
        if (startYear>overYear){
            alert("结束日期必须大于起始日期!");
            return;
        }else {
            if (startMonth>overMonth){
                alert("结束日期必须大于起始日期!");
                return;
            }else {
                if (startDay>overDay){
                    alert("结束日期必须大于起始日期!");
                    return;
                }
            }
        }
        $.ajax({
            type:"get",
            url:"/addExercise/add",
            dataType:"text",
            data:{
                "exam_type":exam_type,
                "startYear":startYear,
                "startMonth":startMonth,
                "startDay":startDay,
                "overYear":overYear,
                "overMonth":overMonth,
                "overDay":overDay,
                "max":max,
                "address":address,
                "remark":remark,
                "duration":duration,
                "time":time
            },
            success:function (data) {
                if (data == "succeed")
                    alert("添加成功!");
                else
                    alert(data);
            }
        });
    }
    function loginOut() {
        $.ajax({
            type:"POST",
            url:"/loginOut",
            dataType:"text",
            success:function () {
                window.location.href = "/login";
            }
        })
    }
</script>


</body>
</html>
